/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;


$sidemenu-bg:                     #f8f8f8;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.underline {
  text-decoration: underline;
}

ion-side-menu ion-content {
  background-color: $sidemenu-bg;
}

.row .add-padding {
  padding: 5px;
}

.text-middle {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
