<div class="card">
  <div class="item item-text-wrap">
    <div class="row">
      <div class="col">
        <h3>{{ model.name }}</h3>
      </div>
      <div class="add-padding">
        <h3>{{ model.date }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3><i class="icon ion-phone"></i> {{ model.phone }}</h3>
      </div>
      <div class="text-middle add-padding">
        <h2><i class="icon ion-person"></i> {{ model.commensals }}</h2>
      </div>
      <div class="col text-right">
        <h3><i class="icon"></i> {{ model.time }}</h3>
      </div>
    </div>
    <div ng-if="buttons" class="row">
      <div class="col">
        <button class="no-margin button button-small button-block button-balanced">
          <i class="icon ion-checkmark-round"></i> Aceptar
        </button>
      </div>
      <div class="col">
        <button class="no-margin button button-small button-block button-assertive">
          <i class="icon ion-close-round"></i> Rechazar
        </button>
      </div>
    </div>
  </div>
</div>
