<ion-view view-title="Reservas">
  <ion-content class="padding">
    <h4 class="underline">Reservas para hoy</h4>
    <div class="padding">
      <booking ng-repeat="booking in vm.bookings"model="booking"></booking>
    </div>
  </ion-content>
</ion-view>
