<ion-view view-title="Validacion">
  <ion-content class="padding">
    <div class="row">
      <div class="col text-left">
        <i class="icon ion-arrow-left-c"></i> Aceptar
      </div>
      <div class="col text-right">
         Rechazar <i class="icon ion-arrow-right-c"></i>
      </div>
    </div>
    <booking ng-repeat="booking in vm.bookings"
             buttons="true"
             model="booking"
             on-swipe-left="vm.swipeAccept()"
             on-swipe-right="vm.swipeReject()"
             ></booking>
  </ion-content>
</ion-view>
