<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content edge-drag-threshold="true">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-assertive" align-title="center">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="content"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-assertive">
      <h1 class="title">SmartEat Manager</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content scroll="false">
      <ion-list>
        <ion-item class="item-icon-left" menu-close ui-sref="main.booking">
          <i class="icon ion-calendar"></i> Reservas
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.validation">
          <i class="icon ion-checkmark-circled"></i> Validacion
          <span class="badge badge-assertive" ng-if="vm.vcount">{{ vm.vcount }}</span>
        </ion-item>
        <ion-item class="item-divider">
          Servicios
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.menus">
          <i class="icon ion-android-list"></i> Menus
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.carte">
          <i class="icon ion-fork"></i> Carta
        </ion-item>
        <ion-item class="item-divider">
          Restaurante
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.info">
          <i class="icon ion-compose"></i> Datos
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.hours">
          <i class="icon ion-clock"></i> Horarios
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="main.tables">
          <i class="icon ion-person-stalker"></i> Mesas
        </ion-item>
      </ion-list>
      <div class="bar bar-footer">
        <button class="button button-icon icon ion-log-out pull-left" menu-close ui-sref="main.booking"></button>
        <button class="button button-icon icon ion-gear-a pull-right" menu-close ui-sref="main.booking"></button>
      </div>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
